@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', Helvetica, sans-serif ;
    color: #fff;
    font-size: 16px;
    line-height: 1.1;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a{
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.main-page-wrapper {
    background: url(../../img/1.png) center top no-repeat, url(../../img/2.png) right bottom 250px no-repeat
}

.header__container {
    margin: 0 auto;
    width: 1142px;
}

.maincontent {
    margin: 0 auto;
    width: 1142px;
}

.button {
    background: #F5170E;
    border-radius: 28px;
    padding: 19px 39px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    border-radius: 35px;
}

.button--light {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    padding: 19px 28px;
}

.button--light:hover {
    background: #F5170E;
    color: #fff;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.title--dark {
    color: #000;
    margin-bottom: 40px;
}