.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 761px;
}
.header {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--right{
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 74px;
    margin-left: 16px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 47px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    
}

.menu__link:hover {
    color:  #DA0100;
    transition: .4s;
}

.contacts {
    font-style: normal;
    text-align: right;
    margin-right: 18px;
    padding-top: 3px;
    position: relative;

}

.contacts__phone {
    text-decoration: none;
    font-size: 25px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__workhours:hover {
    color: #fff;
}

.contacts__comment {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 6px;
}

.contacts__workhours:hover .dropdown{
    left: initial;
    right: 0;
    opacity: 1;
}

.dropdown{
    position: absolute;
    padding: 20px;
    background: #EDEDED;
    color: #1E1F20;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    border-radius: 5px;
    top: 60px ;
    left: -9999px;
    opacity: 0;
    transition: opacity .4s;
}

.dropdown::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 20px;
    height: 20px;
    background:#EDEDED ;
    transform: rotate(45deg);
}

.dropdown::after{
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 20px;
}


.dropdown__item--bold{
    font-weight: bold;
}