.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 761px;
}
.header {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--aligh--right{
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 74px;
    margin-left: 16px;
}

.menu {
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 47px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    
}

.menu__link:hover {
    color:  #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
    margin-right: 18px;
    padding-top: 3px;

}

.contacts__phone {
    text-decoration: none;
    font-size: 25px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__workhours:hover {
    color: #fff;
}

.contacts__comment {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 6px;
}