.hello {
    width: 520px;
    margin-bottom: 244px;
}

.hello__title {
    font-size: 71px;
    font-weight: bold;
    line-height: 1.32;
    margin-bottom: 32px;
}

.hello__text {
    font-size: 17.6px;
    margin-bottom: 31px;
}