.hello {
    width: 45%;
    margin-bottom: 246px;
    margin-left: 15px;
}

.hello__title {
    font-size: 71px;
    font-weight: bold;
    line-height: 1.32;
    margin-bottom: 32px;
}

.hello__text {
    font-size: 17.6px;
    margin-bottom: 32px;
}