.offers {
    margin-bottom: 117px;
}

.offer__list{
    display: flex;
    justify-content: space-around;
}

.offers__item {
    min-height: 419px;
    background: #fff;
    border-radius: 5px;
    width: calc(100% / 3 - 30px);
    color: #303030;
    display: flex;
    flex-direction: column;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    min-height: 145px;
    margin-bottom: 0px;
    width: 350.5px;
}

.offers__content {
    padding: 34px 22px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 27px;
}

.offers__feature {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 8px;

}

.offers__feature-img {
    margin-right: 14px;
    margin-top: -7px;
}

.offers__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 23px;
}