.offers {
    margin-bottom: 117px;
}

.offers__item {
    min-height: 449px;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-right: 24px;
    width: 351px;
    color: #303030;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    min-height: 144px;
    margin-bottom: 0px;
    width: 351px;
}

.offers__content {
    padding: 30px 21px;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
}

.offers__feature {
    display: inline-flex;
    vertical-align: middle;
    width: 126;
    margin-right: 23px;
    margin-bottom: 9px;

}

.offers__feature-img {
    margin-right: 14px;
    margin-top: -7px;
}

.offers__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 23px;
}