.page-content{
    background: #f2f2f2;
    color: #303030;
    padding: 50px 0px;
}

.service{
    display: flex;
    padding: 32px 17px;
    text-decoration: none;
}

.service__img{
    width: 40%;
    margin-right: 5.4%;
}

.service__content{
    flex: 1;
}

.service__title{
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
    margin-top: 29px;
}

.service__desc{
    line-height: 1.7;
    margin-bottom: 32px;
}

.button--light{
    padding: 18px 36px;
    width: 163px;
    background: none;
}

.pager{
    margin-top: 24px;
    margin-left: 15px;
    margin-bottom: 39px;
}

.pager__link {
    background: none;
    color: #000;
}
.pager__item--active .pager__link {
    background: #F5170E;
    color: #fff;
}

.pager__link:hover {
    background: #F5170E;
    color: #fff;
}
